// USER :: START

.user {
  padding-top: 43px;
  padding-bottom: 40px;


  &__container {
    padding-left: 36px;
    padding-right: 36px;
    @include respond(m_m) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }


  &__wrapper {
    overflow: hidden;
    border-radius: 14px;
    background-color: $c-white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27);


    &-top {
      display: flex;
      align-items: center;
      padding: 18px 28px 25px;
    }


    &-middle {
      display: flex;
      padding-left: 28px;
      padding-right: 28px;
      padding-bottom: 28px;
    }


    &-left {
      overflow: hidden;
      display: flex;
      width: 675px;
      border-radius: 14px;
      background-color: $c-white;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27);


      > div {
        &:nth-child(1) {
          position: relative;
          width: 191px;


          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }


        &:nth-child(2) {
          width: calc(100% - 191px);
        }
      }
    }


    &-right {
      width: calc(100% - 675px);
      padding-top: 12px;
      padding-left: 38px;
    }



    &-bottom {
      display: flex;
      align-items: center;
      min-height: 55px;
      padding-left: 28px;
      padding-right: 28px;
      background-color: $c-putty;
      @include respond(m_m) {
        padding-left: 14px;
        padding-right: 14px;
      }


      p {
        color: $c-white;
        font-size: 15px;
        font-weight: bold;
        @include respond(m_m) {
          font-size: 8px;
        }
      }
    }
  }


  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 193px;
    height: 55px;
    margin-right: 21px;
    border-radius: 12px;
    background-color: $c-darkCerulean;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.27);
    color: $c-white;
    font-size: 16px;
    font-weight: bold;
    @include respond(m_m) {
      max-width: 139px;
      height: 40px;
      margin-right: 17px;
      border-radius: 9px;
      font-size: 12px;
    }
    @include respond(m_s) {
      max-width: 85px;
      height: 25px;
      margin-right: 12px;
      border-radius: 5px;
      font-size: 7px;
    }


    &:hover {
      text-decoration: none;
      color: $c-white;
    }


    i {
      @include retina-sprite($sp-btn-play-group);
      @include respond(m_m) {
        transform: scale(0.75);
      }
      @include respond(m_s) {
        transform: scale(0.45);
      }
    }


    span {
      margin-left: 12px;
      @include respond(m_m) {
        margin-left: 6px;
      }
      @include respond(m_s) {
        margin-left: 0;
      }
    }
  }


  &__title {
    font-size: 22px;
    font-weight: bold;
    @include respond(m_m) {
      font-size: 15px;
    }
    @include respond(m_s) {
      font-size: 8px;
    }
  }


  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: $c-charcoal;
    font-size: 12px;


    &:last-child {
      margin-bottom: 32px;
    }


    i {
      margin-right: 14px;
    }


    &-wrap {
      display: flex;
      flex-direction: column;
    }


    &--add {
      i {
        @include retina-sprite($sp-add-group);
      }
    }


    &--download {
      i {
        @include retina-sprite($sp-download-group);
      }
    }


    &--share {
      i {
        @include retina-sprite($sp-share-group);
      }
    }


    &--send {
      i {
        @include retina-sprite($sp-send-group);
      }
    }
  }


  &__email {
    font-size: 12px;


    a {
      color: $c-charcoal;
      font-weight: bold;
    }
  }


  &__info {
    display: flex;
    align-items: center;
    min-height: 41px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;


    &:nth-child(odd) {
      background-color: $c-white;
    }

    &:nth-child(even) {
      position: relative;
      background-color: $c-whiteSmooke;
      box-shadow: 0 2px 5px 0 rgba($c-black, 0.14);
    }


    &-wrap {
      display: flex;
      flex-direction: column;
    }


    p {
      color: $c-charcoal;
      font-size: 15px;


      span {
        font-weight: bold;
      }
    }


    &-0 {
      p {
        font-size: 19px;
        font-weight: 700;
      }
    }
  }
}

// USER :: END