// COMMON :: START

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 2em;
  box-shadow: 0 2px 4px 0 rgba($c-black, 0.1);
  letter-spacing: 1.1px;
  color: $c-white;
  font-size: 12px;
  font-weight: bold;

  &--primary {
    background-color: $c-putty;
  }
}

// COMMON :: END