.swiper {
  &-container {
    width: 100%;
    @include respond(es) {
      max-width: ((192px * 4) + (10px * 2) + (30px * 2));
      min-height: 407px;
      padding: 30px 30px 0;
    }
    @include respond(m) {
      max-width: ((192px * 4) + (16px * 3) + (60px * 2));
      padding: 30px 60px 0;
    }
    @include respond(l) {
      height: 407px;
    }
  }


  &-slide {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    @include respond(es) {
      flex-wrap: wrap;
    }
    @include respond(l) {
      flex-wrap: nowrap;
    }

    &-wrap {
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 2px 10px 0 rgba($c-black, 0.27);
      @include respond(es) {
        width: calc((100% - 20px) / 2);
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
      @include respond(s) {
        width: calc((100% - 60px) / 2);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
      }
      @include respond(l) {
        width: calc(100% / 4);
        margin-left: 8px;
        margin-right: 8px;
      }
    }

    &-top {
      position: relative;
      overflow: hidden;
      height: 254px;
      @include respond(m_s) {
        height: 164px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($c-midnightExpress, 0.27);
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-top: 4px solid $c-putty;
      text-align: center;
      @include respond(es) {
        min-height: 80px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
      }
      @include respond(l) {
        height: calc(100% - 254px);
      }
    }

    &-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding-top: 19px;
      padding-right: 14px;
      @include transition(z-index, padding-top);
      @include respond(m_s) {
        padding-top: 7px;
        padding-right: 7px;
      }

      &.is-show {
        z-index: 2;
        width: 19px;
        height: 41px;
        padding-top: 24px;
        @include transition(z-index, padding-top);
        @include respond(m_s) {
          padding-top: 9px;
        }


        span {
          background-color: $c-darkSlate;
          @include transition(background-color);
        }
      }

      span {
        display: block;
        width: 5px;
        height: 5px;
        margin-left: auto;
        border-radius: 100%;
        background-color: $c-white;
        @include transition(background-color);
        @include respond(m_s) {
          width: 3px;
          height: 3px;
        }

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 3px;
        }
      }
    }

    &-drop {
      display: none;
      z-index: 1;
      position: absolute;
      top: 12px;
      left: 0;
      width: 100%;
      min-height: 120px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 11px;
      background-color: $c-white;
      box-shadow: 0 2px 10px 0 rgba($c-black, 0.27);
      animation-name: fadeIn;
      animation-duration: 0.5s;
      @include respond(m_s) {
        top: 2px;
        left: -1px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &.is-open {
        display: block;
      }

      ul {
        li {
          border-bottom: 1px solid rgba($c-dimGray, 0.5);

          &:last-child {
            border-bottom: 0;
          }

          &:nth-child(1) {
            a {
              i {
                @include retina-sprite($sp-add-group)
              }
            }
          }
          &:nth-child(2) {
            a {
              i {
                @include retina-sprite($sp-download-group)
              }
            }
          }
          &:nth-child(3) {
            a {
              i {
                @include retina-sprite($sp-share-group)
              }
            }
          }
          &:nth-child(4) {
            a {
              i {
                @include retina-sprite($sp-send-group)
              }
            }
          }

          a {
            display: flex;
            align-items: center;
            height: 43px;
            padding-left: 30px;
            color: $c-darkSlate;
            font-size: 14px;
            @include transition(color);
            @include respond(m_s) {
              height: calc(110px / 4);
              padding-left: 15px;
              font-size: 8px;
            }

            &:hover,
            &:focus {
              text-decoration: none;
              color: $c-darkSlate;
              @include transition(color);

              i,
              span {
                opacity: 0.5;
                @include transition(opacity);
              }
            }

            span {
              margin-left: 15px;
              @include transition(opacity);
              @include respond(m_s) {
                margin-left: 5px;
              }
            }

            i {
              @include transition(opacity);
              @include respond(m_s) {
                transform: scale(0.75);
              }
            }
          }
        }
      }
    }

    &-play {
      position: absolute;
      display: flex;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      i {
        @include retina-sprite($sp-play-group);
        @include transition(transform);
      }

      &:hover {
        i {
          transform: scale(0.9);
          @include transition(transform);
        }
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-title {
      padding-bottom: 5px;
      line-height: 1.2;
      font-size: 11px;
      font-weight: 700;
      @include respond(m_m) {
        font-size: 8px;
      }
    }

    &-pos {
      font-size: 8px;
      @include respond(m_m) {
        font-size: 6px;
      }
    }
  }


  &-button {
    &-next,
    &-prev {
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: none;
      top: 0;
      width: 60px;
      height: 100%;
      margin-top: 0;
      background-color: $c-white;
      @include respond(m_m) {
        width: 30px;
      }
    }
    &-next {
      right: 0;
      i {
        @include retina-sprite($sp-next-group);
      }
    }
    &-prev {
      left: 0;
      i {
        @include retina-sprite($sp-prev-group);
      }
    }
  }
}