// HEADER :: START

header#header.header
  .container
    .header__wrapper
      .header__left
        include ../macros/_logotype

      .header__middle
        .header__top
          a.btn.btn--primary(href="#" title="" role="button")!= "All Speakers"

          include ../macros/_search

          a.btn.btn--primary(href="#" title="" role="button")!= "Donate"

        .header__bottom
          include ../macros/_nav

      .header__right
        include ../macros/_subLogotype


// HEADER :: END