// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper
      .header__left
        include ../macros/_logotype

      .header__middle
        .header__top
          a.button.button__speakers.button--primary(href="/speakerList.html" title="" role="button")!= "All Speakers"

          include ../macros/_search

          a.button.button__donate.button--primary(href="#" title="" role="button")!= "Donate"

        .header__bottom
          include ../macros/_nav

          .header__bottom--mobile
            a.button.button__playlist.button--primary(href="#" title="" role="button")!= "My Playlists"

            include ../macros/_subLogotype


        .header__middle-wrap

      .header__right
        include ../macros/_subLogotype

      .header__mobile
        include ../macros/_hamburger


// HEADER :: END