// MAIN :: START

#main.main
  .c-grid
    .main__wrapper

      .main__wrapper-text
        p.main__title!= "Listen to comprehensive library <br>of digitized shiurim"
        p.main__subtitle!= "You will find your favourite speakers, discover new ones <br>and be able to search for your topic among thousands of shiurim."


// MAIN :: END