// RECENTLY :: START

-
  var tableDataBody = [
    {
    iconName: "play",
    nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
    speakerVal: "Rabbi Aron Feldman",
    categoryVal: "Halacha",
    lengthVal: "13 min",
    actionVal: ""
    },
    {
    iconName: "play",
    nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
    speakerVal: "Rabbi Aron Feldman",
    categoryVal: "Halacha",
    lengthVal: "13 min",
    actionVal: ""
    },
    {
    iconName: "play",
    nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
    speakerVal: "Rabbi Aron Feldman",
    categoryVal: "Halacha",
    lengthVal: "13 min",
    actionVal: ""
    },
    {
    iconName: "play",
    nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
    speakerVal: "Rabbi Aron Feldman",
    categoryVal: "Halacha",
    lengthVal: "13 min",
    actionVal: ""
    },
    {
    iconName: "play",
    nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
    speakerVal: "Rabbi Aron Feldman",
    categoryVal: "Halacha",
    lengthVal: "13 min",
    actionVal: ""
    },
    {
    iconName: "play",
    nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
    speakerVal: "Rabbi Aron Feldman",
    categoryVal: "Halacha",
    lengthVal: "13 min",
    actionVal: ""
    }
  ];
  var tableDataHeader = [
    "Recently Added",
    "Name",
    "Speaker",
    "Category",
    "Length",
    "Action"
  ];


#recently.recently
  .recently__bg
  .c-grid
    .recently__wrapper

    +table("recently", tableDataHeader, tableDataBody)

// RECENTLY :: END