// TIMELY :: START

-
  var tableDataBody = [
    {
      iconName: "play",
      nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
      speakerVal: "Rabbi Aron Feldman",
      categoryVal: "Halacha",
      lengthVal: "13 min",
      actionVal: ""
    },
    {
      iconName: "play",
      nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
      speakerVal: "Rabbi Aron Feldman",
      categoryVal: "Halacha",
      lengthVal: "13 min",
      actionVal: ""
    },
    {
      iconName: "play",
      nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
      speakerVal: "Rabbi Aron Feldman",
      categoryVal: "Halacha",
      lengthVal: "13 min",
      actionVal: ""
    },
    {
      iconName: "play",
      nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
      speakerVal: "Rabbi Aron Feldman",
      categoryVal: "Halacha",
      lengthVal: "13 min",
      actionVal: ""
    },
    {
      iconName: "play",
      nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
      speakerVal: "Rabbi Aron Feldman",
      categoryVal: "Halacha",
      lengthVal: "13 min",
      actionVal: ""
    },
    {
      iconName: "play",
      nameVal: "Protecting Intellectual Property In Jewish Law <br>(2017 - 02 - 15) (B)",
      speakerVal: "Rabbi Aron Feldman",
      categoryVal: "Halacha",
      lengthVal: "13 min",
      actionVal: ""
    }
  ];
  var tableDataHeader = [
    "Timely",
    "Name",
    "Speaker",
    "Category",
    "Length",
    "Action"
  ];

#timely.timely
  .c-grid
    .timely__wrapper

    +table("timely", tableDataHeader, tableDataBody)

// TIMELY :: END