---
title: Home
favicon: favicon

bodyClassName: home
dataPageName: index

additionalStyleFile: false
---
extends shared/_layout

block content

  div(class!= bodyClassName)
    include ./components/_main
    include components/_featured
    include components/_timely
    include components/_popular
    include components/_recently
