---
title: NerIsrael - Individual Lecture
favicon: favicon

bodyClassName: lecture
dataPageName: individualLecture

additionalStyleFile: false
---
extends shared/_layout

block content

  div(class!= bodyClassName)
    include components/individual-lecture/_user