---
title: NerIsrael - My Playlist
favicon: favicon

bodyClassName: myPlaylist
dataPageName: myPlaylist

additionalStyleFile: false
---
extends shared/_layout

block content

  div(class!= bodyClassName)
    include ./components/my-playlist/_main
    include ./components/my-playlist/_playlist