---
title: NerIsrael - Speaker List
favicon: favicon

bodyClassName: speaker
dataPageName: speakerList

additionalStyleFile: false
---
extends shared/_layout

block content

  div(class!= bodyClassName)
    include components/speaker-list/_list