---
title: NerIsrael - Speaker
favicon: favicon

bodyClassName: speaker
dataPageName: speakerList

additionalStyleFile: false
---
extends shared/_layout

block content

  div(class!= bodyClassName)

    include ./components/speaker/_main
