// HEADER :: START

.header {

  [data-file="players"] & {
    @include respond(m) {
      display: none;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    height: 122px;
    box-shadow: 0 2px 5px 0 rgba($c-black, 0.14);
    @include respond(m_m) {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 52px;
      box-shadow: 0 0 10px 0 rgba($c-nobel, 0.25);
    }
  }


  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 165px;
    padding-left: 40px;
    @include respond(m_m) {
      max-width: 100px;
      padding-left: 0;
      background-color: rgba($c-darkCerulean, 0.93);
    }
    @include respond(m) {
      padding-left: 0;
    }
    @include respond(l) {
      padding-left: 40px;
    }
  }


  &__middle {
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - (165px + 203px));
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 52px;
    @include respond(es) {
      display: none;
    }
    @include respond(m) {
      display: none;
    }
    @include respond(l) {
      display: flex;
    }
    @include respond(m_l) {
      &.is-show {
        z-index: 100;
        overflow-y: auto;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 0 15px 15px 115px;
        background-color: rgba($c-black, 0.75);

        &:before {
          content: "";
          z-index: 0;
          position: fixed;
          top: 0;
          right: 0;
          width: calc(100% - 100px);
          height: 100%;
          background-color: rgba($c-eclipse, 1);
        }

        .header__middle-wrap {
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }


  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba($c-darkCerulean, 0.93);
    @include respond(m_l) {
      justify-content: flex-end;
      .logo__img {
        height: 37px;
      }
    }
    @include respond(es) {
      max-width: calc(100% - (100px + 70px));
    }
    @include respond(m) {
      max-width: calc(100% - (165px * 2));
    }
    @include respond(l) {
      max-width: 203px;
    }
  }


  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    @include respond(m_l) {
      .is-show & {
        z-index: 1;
        position: relative;
        flex-wrap: wrap;

        .button {
          width: 100%;
          justify-content: flex-start;
          padding-left: 0;
          border: none;
          box-shadow: none;
          background-color: transparent;
          color: $c-putty;
          font-size: 15px;

          &:hover {
            color: $c-white;
          }

          &__speakers {
            order: 2;
          }
          &__donate {
            order: 3;
          }
        }
      }
    }
  }


  &__bottom {
    @include respond(m_l) {
      .is-show & {
        z-index: 1;
        position: relative;
      }
    }


    &--mobile {
      display: none;
      @include respond(m_l) {
        display: block;

        .button {
          width: 100%;
          justify-content: flex-start;
          padding-left: 0;
          margin-bottom: 15px;
          border: none;
          box-shadow: none;
          background-color: transparent;
          color: #cbae6a;
          font-size: 15px;

          &:hover {
            color: $c-white;
          }
        }
      }
    }
  }


  &__mobile {
    width: 100%;
    background-color: rgba($c-darkCerulean, 0.93);
    @include respond(es) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 70px;
    }
    @include respond(m) {
      max-width: 165px;
    }
    @include respond(l) {
      display: none;
    }
  }
}

// HEADER :: END