// SPREADSHEET :: START

.spreadsheet {
  .c-grid {
    padding: 32px 44px 49px;
    background-image: url("../img/img-speaker-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include respond(m_m) {
      padding: 7px 25px 25px;
      background-image: none;
    }
  }


  &__block {
    border-radius: 11px;
    background-color: rgba(#fbfbfb, 0.93);
    box-shadow: 0 2px 10px 0 rgba($c-black, 0.27);

    &-top {
      display: flex;
      align-items: center;
      min-height: 57px;
      padding: 10px 0 10px 30px;
      @include respond(m_l) {
        flex-wrap: wrap;
      }
      @include respond(m_m) {
        padding-left: 15px;
        padding-bottom: 15px;
      }

      p {
        white-space: nowrap;
        padding-right: 14px;
        font-size: 14px;
        font-weight: bold;
        @include respond(m_l) {
          width: 100%;
          padding-top: 15px;
          padding-bottom: 10px;

          .category & {
            width: auto;
          }
        }
        @include respond(m_m) {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 7px;
            width: 19px;
            height: 3px;
            background-color: $c-putty;
          }
        }
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 89px;
    }
  }

  &__select {
    margin-right: 10px;
    @include respond(m_s) {
      width: 100%;
      margin-bottom: 10px;
    }
    @include respond(m_l) {
      margin-bottom: 10px;

      .category & {
        margin-top: 15px;
      }
    }


    &:last-child {
      margin-right: 0;
      @include respond(m_s) {
        margin-bottom: 0;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include respond(m_s) {
        width: calc(100% - 15px);
      }
    }

    select {
      opacity: 0;
    }

    .selectric {
      border: none;
      border-radius: 2em;
      background: #fff;
      box-shadow: 0 2px 10px 0 rgba($c-black, 0.08);

      &-wrapper {
        @include respond(m_s) {
          width: 100% !important;
        }
      }

      .label {
        height: 25px;
        margin: 0 25px 0 10px;
        line-height: 25px;
        color: #515151;
        font-size: 12px;
        font-weight: 500;
      }

      .button {
        width: 25px;
        height: 25px;
        padding: 0;
        line-height: 25px;
        background-color: #fff;
        box-shadow: none;
        color: #000;

        &:after {
          border-top-color: #000;
        }
      }

      &-items {
        overflow: hidden;
        top: calc(100% + 7px);
        border: none;
        border-radius: 13px;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);

        ul,
        li {
          line-height: 25px;
          min-height: 25px;
        }

        li {
          padding: 0 10px;

          &:hover,
          &.highlighted {
            color: $c-white;
            background-color: $c-putty;
          }
        }
      }
    }
  }
}

// SPREADSHEET :: END