// SEARCH :: START

.search {
  width: 265px;
  @include respond(m_l) {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 122px;
  }
  @include respond(m_m) {
    height: 52px;
  }



  &__form {
    position: relative;
    display: flex;
    @include respond(m_l) {
      width: 100%;
    }
  }


  &__field {
    position: relative;
    height: 30px;

    &:nth-child(1) {
      width: 100%;
      max-width: 225px;
      margin-right: 10px;
      @include respond(m_l) {
        max-width: calc(100% - (30px + 10px));
      }
    }
    &:nth-child(2) {
      @include respond(m_l) {
        width: 100%;
        max-width: 30px;
      }
    }
  }


  &__keyboard {
    display: none;
    z-index: 100;
    position: absolute;
    top: 34px;
    right: 40px;
    width: 300px;
    min-height: 160px;
    padding: 12px;
    border-radius: 4px;
    background-color: $c-white;
    box-shadow: 0 2px 8px 0 rgba($c-black, 0.27);
    @include respond(max-s) {
      display: none !important;
    }


    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;


      a {
        display: flex;
        align-items: center;
        width: calc(100% / 3);
      }
    }


    &-clean {
      justify-content: flex-start;


      i {
        @include retina-sprite($sp-i-keyboard-clean-group);
      }
    }


    &-space {
      justify-content: center;


      i {
        @include retina-sprite($sp-i-keyboard-space-group);
      }
    }


    &-enter {
      justify-content: flex-end;
      color: $c-grey;
      font-size: 11px;
    }


    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 12px;


      &--0 {
        li {
          width: calc(100% / 10);
        }
      }


      &--1 {
        padding-left: calc((100% / 10) / 2);
        padding-right: calc((100% / 10) / 2);

        li {
          width: calc(100% / 9);
        }
      }


      &--2 {
        padding-left: calc(100% / 10);
        padding-right: calc(100% / 10);
        padding-bottom: 10px;

        li {
          width: calc(100% / 8);
        }
      }


      li {
        text-align: center;
      }


      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        color: $c-grey;
        font-size: 14px;
        border-radius: 4px;
        @include transition(box-shadow, color);


        &:hover {
          box-shadow: 0 2px 8px 0 rgba($c-black, 0.27);
          color: $c-darkCerulean;
          @include transition(box-shadow, color);
        }
      }
    }
  }


  &__input {
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    padding-right: 33px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba($c-black, 0.1);
    font-family: "Open Sans", sans-serif;

    &::-webkit-input-placeholder {
      color: rgba($c-black, 0.2);
      font-family: "Open Sans", sans-serif;
    }
    &::-moz-placeholder {
      color: rgba($c-black, 0.2);
      font-family: "Open Sans", sans-serif;
    }
    &:-ms-input-placeholder {
      color: rgba($c-black, 0.2);
      font-family: "Open Sans", sans-serif;
    }
    &:-moz-placeholder {
      color: rgba($c-black, 0.2);
      font-family: "Open Sans", sans-serif;
    }
  }


  &__label {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 33px;
    height: 100%;
    border-radius: 4px;
    @include transition(background-color);


    &-icon {
      @include retina-sprite($sp-search-label-group);
    }


    &.is-active {
      background-color: $c-darkCerulean;
      @include transition(background-color);


      i {
        @include retina-sprite($sp-i-keyboard-white-group);
      }
    }
  }


  &__btn {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: $c-darkCerulean;

    &:hover,
    &:focus {
      background-color: $c-putty;
      @include transition(background-color);
    }

    &-icon {
      @include retina-sprite($sp-search-group)
    }
  }
}

// SEARCH :: END