// SEARCH :: START

.search
  form.search__form(action="" method="" autocomplete="off")
    .search__field
      input.search__input(type="text" name="search" id="" placeholder="Search")
      label.search__label()
        i.search__label-icon

    .search__field
      button.search__btn(type="button")
        i.search__btn-icon

// SEARCH :: END