// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-add-white-name: 'sp-add-white';
$sp-add-white-x: 46px;
$sp-add-white-y: 91px;
$sp-add-white-offset-x: -46px;
$sp-add-white-offset-y: -91px;
$sp-add-white-width: 16px;
$sp-add-white-height: 16px;
$sp-add-white-total-width: 151px;
$sp-add-white-total-height: 138px;
$sp-add-white-image: '../img/sprite.png';
$sp-add-white: (46px, 91px, -46px, -91px, 16px, 16px, 151px, 138px, '../img/sprite.png', 'sp-add-white', );
$sp-add-name: 'sp-add';
$sp-add-x: 57px;
$sp-add-y: 37px;
$sp-add-offset-x: -57px;
$sp-add-offset-y: -37px;
$sp-add-width: 15px;
$sp-add-height: 15px;
$sp-add-total-width: 151px;
$sp-add-total-height: 138px;
$sp-add-image: '../img/sprite.png';
$sp-add: (57px, 37px, -57px, -37px, 15px, 15px, 151px, 138px, '../img/sprite.png', 'sp-add', );
$sp-arrow-name: 'sp-arrow';
$sp-arrow-x: 32px;
$sp-arrow-y: 130px;
$sp-arrow-offset-x: -32px;
$sp-arrow-offset-y: -130px;
$sp-arrow-width: 11px;
$sp-arrow-height: 7px;
$sp-arrow-total-width: 151px;
$sp-arrow-total-height: 138px;
$sp-arrow-image: '../img/sprite.png';
$sp-arrow: (32px, 130px, -32px, -130px, 11px, 7px, 151px, 138px, '../img/sprite.png', 'sp-arrow', );
$sp-btn-play-name: 'sp-btn-play';
$sp-btn-play-x: 57px;
$sp-btn-play-y: 0px;
$sp-btn-play-offset-x: -57px;
$sp-btn-play-offset-y: 0px;
$sp-btn-play-width: 32px;
$sp-btn-play-height: 32px;
$sp-btn-play-total-width: 151px;
$sp-btn-play-total-height: 138px;
$sp-btn-play-image: '../img/sprite.png';
$sp-btn-play: (57px, 0px, -57px, 0px, 32px, 32px, 151px, 138px, '../img/sprite.png', 'sp-btn-play', );
$sp-corner-name: 'sp-corner';
$sp-corner-x: 141px;
$sp-corner-y: 0px;
$sp-corner-offset-x: -141px;
$sp-corner-offset-y: 0px;
$sp-corner-width: 10px;
$sp-corner-height: 10px;
$sp-corner-total-width: 151px;
$sp-corner-total-height: 138px;
$sp-corner-image: '../img/sprite.png';
$sp-corner: (141px, 0px, -141px, 0px, 10px, 10px, 151px, 138px, '../img/sprite.png', 'sp-corner', );
$sp-download-white-name: 'sp-download-white';
$sp-download-white-x: 120px;
$sp-download-white-y: 18px;
$sp-download-white-offset-x: -120px;
$sp-download-white-offset-y: -18px;
$sp-download-white-width: 13px;
$sp-download-white-height: 13px;
$sp-download-white-total-width: 151px;
$sp-download-white-total-height: 138px;
$sp-download-white-image: '../img/sprite.png';
$sp-download-white: (120px, 18px, -120px, -18px, 13px, 13px, 151px, 138px, '../img/sprite.png', 'sp-download-white', );
$sp-download-name: 'sp-download';
$sp-download-x: 67px;
$sp-download-y: 91px;
$sp-download-offset-x: -67px;
$sp-download-offset-y: -91px;
$sp-download-width: 15px;
$sp-download-height: 16px;
$sp-download-total-width: 151px;
$sp-download-total-height: 138px;
$sp-download-image: '../img/sprite.png';
$sp-download: (67px, 91px, -67px, -91px, 15px, 16px, 151px, 138px, '../img/sprite.png', 'sp-download', );
$sp-i-download-big-name: 'sp-i-download-big';
$sp-i-download-big-x: 34px;
$sp-i-download-big-y: 57px;
$sp-i-download-big-offset-x: -34px;
$sp-i-download-big-offset-y: -57px;
$sp-i-download-big-width: 23px;
$sp-i-download-big-height: 24px;
$sp-i-download-big-total-width: 151px;
$sp-i-download-big-total-height: 138px;
$sp-i-download-big-image: '../img/sprite.png';
$sp-i-download-big: (34px, 57px, -34px, -57px, 23px, 24px, 151px, 138px, '../img/sprite.png', 'sp-i-download-big', );
$sp-i-keyboard-clean-name: 'sp-i-keyboard-clean';
$sp-i-keyboard-clean-x: 0px;
$sp-i-keyboard-clean-y: 113px;
$sp-i-keyboard-clean-offset-x: 0px;
$sp-i-keyboard-clean-offset-y: -113px;
$sp-i-keyboard-clean-width: 17px;
$sp-i-keyboard-clean-height: 12px;
$sp-i-keyboard-clean-total-width: 151px;
$sp-i-keyboard-clean-total-height: 138px;
$sp-i-keyboard-clean-image: '../img/sprite.png';
$sp-i-keyboard-clean: (0px, 113px, 0px, -113px, 17px, 12px, 151px, 138px, '../img/sprite.png', 'sp-i-keyboard-clean', );
$sp-i-keyboard-space-name: 'sp-i-keyboard-space';
$sp-i-keyboard-space-x: 22px;
$sp-i-keyboard-space-y: 113px;
$sp-i-keyboard-space-offset-x: -22px;
$sp-i-keyboard-space-offset-y: -113px;
$sp-i-keyboard-space-width: 31px;
$sp-i-keyboard-space-height: 5px;
$sp-i-keyboard-space-total-width: 151px;
$sp-i-keyboard-space-total-height: 138px;
$sp-i-keyboard-space-image: '../img/sprite.png';
$sp-i-keyboard-space: (22px, 113px, -22px, -113px, 31px, 5px, 151px, 138px, '../img/sprite.png', 'sp-i-keyboard-space', );
$sp-i-keyboard-white-name: 'sp-i-keyboard-white';
$sp-i-keyboard-white-x: 16px;
$sp-i-keyboard-white-y: 130px;
$sp-i-keyboard-white-offset-x: -16px;
$sp-i-keyboard-white-offset-y: -130px;
$sp-i-keyboard-white-width: 11px;
$sp-i-keyboard-white-height: 8px;
$sp-i-keyboard-white-total-width: 151px;
$sp-i-keyboard-white-total-height: 138px;
$sp-i-keyboard-white-image: '../img/sprite.png';
$sp-i-keyboard-white: (16px, 130px, -16px, -130px, 11px, 8px, 151px, 138px, '../img/sprite.png', 'sp-i-keyboard-white', );
$sp-my-playlists-color-name: 'sp-my-playlists-color';
$sp-my-playlists-color-x: 23px;
$sp-my-playlists-color-y: 91px;
$sp-my-playlists-color-offset-x: -23px;
$sp-my-playlists-color-offset-y: -91px;
$sp-my-playlists-color-width: 18px;
$sp-my-playlists-color-height: 17px;
$sp-my-playlists-color-total-width: 151px;
$sp-my-playlists-color-total-height: 138px;
$sp-my-playlists-color-image: '../img/sprite.png';
$sp-my-playlists-color: (23px, 91px, -23px, -91px, 18px, 17px, 151px, 138px, '../img/sprite.png', 'sp-my-playlists-color', );
$sp-my-playlists-name: 'sp-my-playlists';
$sp-my-playlists-x: 0px;
$sp-my-playlists-y: 91px;
$sp-my-playlists-offset-x: 0px;
$sp-my-playlists-offset-y: -91px;
$sp-my-playlists-width: 18px;
$sp-my-playlists-height: 17px;
$sp-my-playlists-total-width: 151px;
$sp-my-playlists-total-height: 138px;
$sp-my-playlists-image: '../img/sprite.png';
$sp-my-playlists: (0px, 91px, 0px, -91px, 18px, 17px, 151px, 138px, '../img/sprite.png', 'sp-my-playlists', );
$sp-next-name: 'sp-next';
$sp-next-x: 94px;
$sp-next-y: 61px;
$sp-next-offset-x: -94px;
$sp-next-offset-y: -61px;
$sp-next-width: 15px;
$sp-next-height: 25px;
$sp-next-total-width: 151px;
$sp-next-total-height: 138px;
$sp-next-image: '../img/sprite.png';
$sp-next: (94px, 61px, -94px, -61px, 15px, 25px, 151px, 138px, '../img/sprite.png', 'sp-next', );
$sp-play-next-name: 'sp-play-next';
$sp-play-next-x: 120px;
$sp-play-next-y: 70px;
$sp-play-next-offset-x: -120px;
$sp-play-next-offset-y: -70px;
$sp-play-next-width: 16px;
$sp-play-next-height: 9px;
$sp-play-next-total-width: 151px;
$sp-play-next-total-height: 138px;
$sp-play-next-image: '../img/sprite.png';
$sp-play-next: (120px, 70px, -120px, -70px, 16px, 9px, 151px, 138px, '../img/sprite.png', 'sp-play-next', );
$sp-play-play-name: 'sp-play-play';
$sp-play-play-x: 94px;
$sp-play-play-y: 0px;
$sp-play-play-offset-x: -94px;
$sp-play-play-offset-y: 0px;
$sp-play-play-width: 21px;
$sp-play-play-height: 26px;
$sp-play-play-total-width: 151px;
$sp-play-play-total-height: 138px;
$sp-play-play-image: '../img/sprite.png';
$sp-play-play: (94px, 0px, -94px, 0px, 21px, 26px, 151px, 138px, '../img/sprite.png', 'sp-play-play', );
$sp-play-prev-name: 'sp-play-prev';
$sp-play-prev-x: 120px;
$sp-play-prev-y: 84px;
$sp-play-prev-offset-x: -120px;
$sp-play-prev-offset-y: -84px;
$sp-play-prev-width: 16px;
$sp-play-prev-height: 9px;
$sp-play-prev-total-width: 151px;
$sp-play-prev-total-height: 138px;
$sp-play-prev-image: '../img/sprite.png';
$sp-play-prev: (120px, 84px, -120px, -84px, 16px, 9px, 151px, 138px, '../img/sprite.png', 'sp-play-prev', );
$sp-play-small-name: 'sp-play-small';
$sp-play-small-x: 62px;
$sp-play-small-y: 57px;
$sp-play-small-offset-x: -62px;
$sp-play-small-offset-y: -57px;
$sp-play-small-width: 19px;
$sp-play-small-height: 19px;
$sp-play-small-total-width: 151px;
$sp-play-small-total-height: 138px;
$sp-play-small-image: '../img/sprite.png';
$sp-play-small: (62px, 57px, -62px, -57px, 19px, 19px, 151px, 138px, '../img/sprite.png', 'sp-play-small', );
$sp-play-sound-name: 'sp-play-sound';
$sp-play-sound-x: 120px;
$sp-play-sound-y: 98px;
$sp-play-sound-offset-x: -120px;
$sp-play-sound-offset-y: -98px;
$sp-play-sound-width: 12px;
$sp-play-sound-height: 10px;
$sp-play-sound-total-width: 151px;
$sp-play-sound-total-height: 138px;
$sp-play-sound-image: '../img/sprite.png';
$sp-play-sound: (120px, 98px, -120px, -98px, 12px, 10px, 151px, 138px, '../img/sprite.png', 'sp-play-sound', );
$sp-play-name: 'sp-play';
$sp-play-x: 0px;
$sp-play-y: 0px;
$sp-play-offset-x: 0px;
$sp-play-offset-y: 0px;
$sp-play-width: 52px;
$sp-play-height: 52px;
$sp-play-total-width: 151px;
$sp-play-total-height: 138px;
$sp-play-image: '../img/sprite.png';
$sp-play: (0px, 0px, 0px, 0px, 52px, 52px, 151px, 138px, '../img/sprite.png', 'sp-play', );
$sp-prev-name: 'sp-prev';
$sp-prev-x: 94px;
$sp-prev-y: 31px;
$sp-prev-offset-x: -94px;
$sp-prev-offset-y: -31px;
$sp-prev-width: 15px;
$sp-prev-height: 25px;
$sp-prev-total-width: 151px;
$sp-prev-total-height: 138px;
$sp-prev-image: '../img/sprite.png';
$sp-prev: (94px, 31px, -94px, -31px, 15px, 25px, 151px, 138px, '../img/sprite.png', 'sp-prev', );
$sp-search-label-name: 'sp-search-label';
$sp-search-label-x: 0px;
$sp-search-label-y: 130px;
$sp-search-label-offset-x: 0px;
$sp-search-label-offset-y: -130px;
$sp-search-label-width: 11px;
$sp-search-label-height: 8px;
$sp-search-label-total-width: 151px;
$sp-search-label-total-height: 138px;
$sp-search-label-image: '../img/sprite.png';
$sp-search-label: (0px, 130px, 0px, -130px, 11px, 8px, 151px, 138px, '../img/sprite.png', 'sp-search-label', );
$sp-search-name: 'sp-search';
$sp-search-x: 77px;
$sp-search-y: 37px;
$sp-search-offset-x: -77px;
$sp-search-offset-y: -37px;
$sp-search-width: 12px;
$sp-search-height: 12px;
$sp-search-total-width: 151px;
$sp-search-total-height: 138px;
$sp-search-image: '../img/sprite.png';
$sp-search: (77px, 37px, -77px, -37px, 12px, 12px, 151px, 138px, '../img/sprite.png', 'sp-search', );
$sp-send-white-name: 'sp-send-white';
$sp-send-white-x: 120px;
$sp-send-white-y: 54px;
$sp-send-white-offset-x: -120px;
$sp-send-white-offset-y: -54px;
$sp-send-white-width: 15px;
$sp-send-white-height: 11px;
$sp-send-white-total-width: 151px;
$sp-send-white-total-height: 138px;
$sp-send-white-image: '../img/sprite.png';
$sp-send-white: (120px, 54px, -120px, -54px, 15px, 11px, 151px, 138px, '../img/sprite.png', 'sp-send-white', );
$sp-send-name: 'sp-send';
$sp-send-x: 120px;
$sp-send-y: 0px;
$sp-send-offset-x: -120px;
$sp-send-offset-y: 0px;
$sp-send-width: 16px;
$sp-send-height: 13px;
$sp-send-total-width: 151px;
$sp-send-total-height: 138px;
$sp-send-image: '../img/sprite.png';
$sp-send: (120px, 0px, -120px, 0px, 16px, 13px, 151px, 138px, '../img/sprite.png', 'sp-send', );
$sp-share-white-name: 'sp-share-white';
$sp-share-white-x: 120px;
$sp-share-white-y: 36px;
$sp-share-white-offset-x: -120px;
$sp-share-white-offset-y: -36px;
$sp-share-white-width: 13px;
$sp-share-white-height: 13px;
$sp-share-white-total-width: 151px;
$sp-share-white-total-height: 138px;
$sp-share-white-image: '../img/sprite.png';
$sp-share-white: (120px, 36px, -120px, -36px, 13px, 13px, 151px, 138px, '../img/sprite.png', 'sp-share-white', );
$sp-share-name: 'sp-share';
$sp-share-x: 87px;
$sp-share-y: 91px;
$sp-share-offset-x: -87px;
$sp-share-offset-y: -91px;
$sp-share-width: 15px;
$sp-share-height: 16px;
$sp-share-total-width: 151px;
$sp-share-total-height: 138px;
$sp-share-image: '../img/sprite.png';
$sp-share: (87px, 91px, -87px, -91px, 15px, 16px, 151px, 138px, '../img/sprite.png', 'sp-share', );
$sp-table-play-name: 'sp-table-play';
$sp-table-play-x: 0px;
$sp-table-play-y: 57px;
$sp-table-play-offset-x: 0px;
$sp-table-play-offset-y: -57px;
$sp-table-play-width: 29px;
$sp-table-play-height: 29px;
$sp-table-play-total-width: 151px;
$sp-table-play-total-height: 138px;
$sp-table-play-image: '../img/sprite.png';
$sp-table-play: (0px, 57px, 0px, -57px, 29px, 29px, 151px, 138px, '../img/sprite.png', 'sp-table-play', );
$sp-add-white-2x-name: 'sp-add-white@2x';
$sp-add-white-2x-x: 92px;
$sp-add-white-2x-y: 182px;
$sp-add-white-2x-offset-x: -92px;
$sp-add-white-2x-offset-y: -182px;
$sp-add-white-2x-width: 32px;
$sp-add-white-2x-height: 32px;
$sp-add-white-2x-total-width: 302px;
$sp-add-white-2x-total-height: 276px;
$sp-add-white-2x-image: '../img/sprite@2x.png';
$sp-add-white-2x: (92px, 182px, -92px, -182px, 32px, 32px, 302px, 276px, '../img/sprite@2x.png', 'sp-add-white@2x', );
$sp-add-2x-name: 'sp-add@2x';
$sp-add-2x-x: 114px;
$sp-add-2x-y: 74px;
$sp-add-2x-offset-x: -114px;
$sp-add-2x-offset-y: -74px;
$sp-add-2x-width: 30px;
$sp-add-2x-height: 30px;
$sp-add-2x-total-width: 302px;
$sp-add-2x-total-height: 276px;
$sp-add-2x-image: '../img/sprite@2x.png';
$sp-add-2x: (114px, 74px, -114px, -74px, 30px, 30px, 302px, 276px, '../img/sprite@2x.png', 'sp-add@2x', );
$sp-arrow-2x-name: 'sp-arrow@2x';
$sp-arrow-2x-x: 64px;
$sp-arrow-2x-y: 260px;
$sp-arrow-2x-offset-x: -64px;
$sp-arrow-2x-offset-y: -260px;
$sp-arrow-2x-width: 22px;
$sp-arrow-2x-height: 14px;
$sp-arrow-2x-total-width: 302px;
$sp-arrow-2x-total-height: 276px;
$sp-arrow-2x-image: '../img/sprite@2x.png';
$sp-arrow-2x: (64px, 260px, -64px, -260px, 22px, 14px, 302px, 276px, '../img/sprite@2x.png', 'sp-arrow@2x', );
$sp-btn-play-2x-name: 'sp-btn-play@2x';
$sp-btn-play-2x-x: 114px;
$sp-btn-play-2x-y: 0px;
$sp-btn-play-2x-offset-x: -114px;
$sp-btn-play-2x-offset-y: 0px;
$sp-btn-play-2x-width: 64px;
$sp-btn-play-2x-height: 64px;
$sp-btn-play-2x-total-width: 302px;
$sp-btn-play-2x-total-height: 276px;
$sp-btn-play-2x-image: '../img/sprite@2x.png';
$sp-btn-play-2x: (114px, 0px, -114px, 0px, 64px, 64px, 302px, 276px, '../img/sprite@2x.png', 'sp-btn-play@2x', );
$sp-corner-2x-name: 'sp-corner@2x';
$sp-corner-2x-x: 282px;
$sp-corner-2x-y: 0px;
$sp-corner-2x-offset-x: -282px;
$sp-corner-2x-offset-y: 0px;
$sp-corner-2x-width: 20px;
$sp-corner-2x-height: 20px;
$sp-corner-2x-total-width: 302px;
$sp-corner-2x-total-height: 276px;
$sp-corner-2x-image: '../img/sprite@2x.png';
$sp-corner-2x: (282px, 0px, -282px, 0px, 20px, 20px, 302px, 276px, '../img/sprite@2x.png', 'sp-corner@2x', );
$sp-download-white-2x-name: 'sp-download-white@2x';
$sp-download-white-2x-x: 240px;
$sp-download-white-2x-y: 36px;
$sp-download-white-2x-offset-x: -240px;
$sp-download-white-2x-offset-y: -36px;
$sp-download-white-2x-width: 26px;
$sp-download-white-2x-height: 26px;
$sp-download-white-2x-total-width: 302px;
$sp-download-white-2x-total-height: 276px;
$sp-download-white-2x-image: '../img/sprite@2x.png';
$sp-download-white-2x: (240px, 36px, -240px, -36px, 26px, 26px, 302px, 276px, '../img/sprite@2x.png', 'sp-download-white@2x', );
$sp-download-2x-name: 'sp-download@2x';
$sp-download-2x-x: 134px;
$sp-download-2x-y: 182px;
$sp-download-2x-offset-x: -134px;
$sp-download-2x-offset-y: -182px;
$sp-download-2x-width: 30px;
$sp-download-2x-height: 32px;
$sp-download-2x-total-width: 302px;
$sp-download-2x-total-height: 276px;
$sp-download-2x-image: '../img/sprite@2x.png';
$sp-download-2x: (134px, 182px, -134px, -182px, 30px, 32px, 302px, 276px, '../img/sprite@2x.png', 'sp-download@2x', );
$sp-i-download-big-2x-name: 'sp-i-download-big@2x';
$sp-i-download-big-2x-x: 68px;
$sp-i-download-big-2x-y: 114px;
$sp-i-download-big-2x-offset-x: -68px;
$sp-i-download-big-2x-offset-y: -114px;
$sp-i-download-big-2x-width: 46px;
$sp-i-download-big-2x-height: 48px;
$sp-i-download-big-2x-total-width: 302px;
$sp-i-download-big-2x-total-height: 276px;
$sp-i-download-big-2x-image: '../img/sprite@2x.png';
$sp-i-download-big-2x: (68px, 114px, -68px, -114px, 46px, 48px, 302px, 276px, '../img/sprite@2x.png', 'sp-i-download-big@2x', );
$sp-i-keyboard-clean-2x-name: 'sp-i-keyboard-clean@2x';
$sp-i-keyboard-clean-2x-x: 0px;
$sp-i-keyboard-clean-2x-y: 226px;
$sp-i-keyboard-clean-2x-offset-x: 0px;
$sp-i-keyboard-clean-2x-offset-y: -226px;
$sp-i-keyboard-clean-2x-width: 34px;
$sp-i-keyboard-clean-2x-height: 24px;
$sp-i-keyboard-clean-2x-total-width: 302px;
$sp-i-keyboard-clean-2x-total-height: 276px;
$sp-i-keyboard-clean-2x-image: '../img/sprite@2x.png';
$sp-i-keyboard-clean-2x: (0px, 226px, 0px, -226px, 34px, 24px, 302px, 276px, '../img/sprite@2x.png', 'sp-i-keyboard-clean@2x', );
$sp-i-keyboard-space-2x-name: 'sp-i-keyboard-space@2x';
$sp-i-keyboard-space-2x-x: 44px;
$sp-i-keyboard-space-2x-y: 226px;
$sp-i-keyboard-space-2x-offset-x: -44px;
$sp-i-keyboard-space-2x-offset-y: -226px;
$sp-i-keyboard-space-2x-width: 62px;
$sp-i-keyboard-space-2x-height: 10px;
$sp-i-keyboard-space-2x-total-width: 302px;
$sp-i-keyboard-space-2x-total-height: 276px;
$sp-i-keyboard-space-2x-image: '../img/sprite@2x.png';
$sp-i-keyboard-space-2x: (44px, 226px, -44px, -226px, 62px, 10px, 302px, 276px, '../img/sprite@2x.png', 'sp-i-keyboard-space@2x', );
$sp-i-keyboard-white-2x-name: 'sp-i-keyboard-white@2x';
$sp-i-keyboard-white-2x-x: 32px;
$sp-i-keyboard-white-2x-y: 260px;
$sp-i-keyboard-white-2x-offset-x: -32px;
$sp-i-keyboard-white-2x-offset-y: -260px;
$sp-i-keyboard-white-2x-width: 22px;
$sp-i-keyboard-white-2x-height: 16px;
$sp-i-keyboard-white-2x-total-width: 302px;
$sp-i-keyboard-white-2x-total-height: 276px;
$sp-i-keyboard-white-2x-image: '../img/sprite@2x.png';
$sp-i-keyboard-white-2x: (32px, 260px, -32px, -260px, 22px, 16px, 302px, 276px, '../img/sprite@2x.png', 'sp-i-keyboard-white@2x', );
$sp-my-playlists-color-2x-name: 'sp-my-playlists-color@2x';
$sp-my-playlists-color-2x-x: 46px;
$sp-my-playlists-color-2x-y: 182px;
$sp-my-playlists-color-2x-offset-x: -46px;
$sp-my-playlists-color-2x-offset-y: -182px;
$sp-my-playlists-color-2x-width: 36px;
$sp-my-playlists-color-2x-height: 34px;
$sp-my-playlists-color-2x-total-width: 302px;
$sp-my-playlists-color-2x-total-height: 276px;
$sp-my-playlists-color-2x-image: '../img/sprite@2x.png';
$sp-my-playlists-color-2x: (46px, 182px, -46px, -182px, 36px, 34px, 302px, 276px, '../img/sprite@2x.png', 'sp-my-playlists-color@2x', );
$sp-my-playlists-2x-name: 'sp-my-playlists@2x';
$sp-my-playlists-2x-x: 0px;
$sp-my-playlists-2x-y: 182px;
$sp-my-playlists-2x-offset-x: 0px;
$sp-my-playlists-2x-offset-y: -182px;
$sp-my-playlists-2x-width: 36px;
$sp-my-playlists-2x-height: 34px;
$sp-my-playlists-2x-total-width: 302px;
$sp-my-playlists-2x-total-height: 276px;
$sp-my-playlists-2x-image: '../img/sprite@2x.png';
$sp-my-playlists-2x: (0px, 182px, 0px, -182px, 36px, 34px, 302px, 276px, '../img/sprite@2x.png', 'sp-my-playlists@2x', );
$sp-next-2x-name: 'sp-next@2x';
$sp-next-2x-x: 188px;
$sp-next-2x-y: 122px;
$sp-next-2x-offset-x: -188px;
$sp-next-2x-offset-y: -122px;
$sp-next-2x-width: 30px;
$sp-next-2x-height: 50px;
$sp-next-2x-total-width: 302px;
$sp-next-2x-total-height: 276px;
$sp-next-2x-image: '../img/sprite@2x.png';
$sp-next-2x: (188px, 122px, -188px, -122px, 30px, 50px, 302px, 276px, '../img/sprite@2x.png', 'sp-next@2x', );
$sp-play-next-2x-name: 'sp-play-next@2x';
$sp-play-next-2x-x: 240px;
$sp-play-next-2x-y: 140px;
$sp-play-next-2x-offset-x: -240px;
$sp-play-next-2x-offset-y: -140px;
$sp-play-next-2x-width: 32px;
$sp-play-next-2x-height: 18px;
$sp-play-next-2x-total-width: 302px;
$sp-play-next-2x-total-height: 276px;
$sp-play-next-2x-image: '../img/sprite@2x.png';
$sp-play-next-2x: (240px, 140px, -240px, -140px, 32px, 18px, 302px, 276px, '../img/sprite@2x.png', 'sp-play-next@2x', );
$sp-play-play-2x-name: 'sp-play-play@2x';
$sp-play-play-2x-x: 188px;
$sp-play-play-2x-y: 0px;
$sp-play-play-2x-offset-x: -188px;
$sp-play-play-2x-offset-y: 0px;
$sp-play-play-2x-width: 42px;
$sp-play-play-2x-height: 52px;
$sp-play-play-2x-total-width: 302px;
$sp-play-play-2x-total-height: 276px;
$sp-play-play-2x-image: '../img/sprite@2x.png';
$sp-play-play-2x: (188px, 0px, -188px, 0px, 42px, 52px, 302px, 276px, '../img/sprite@2x.png', 'sp-play-play@2x', );
$sp-play-prev-2x-name: 'sp-play-prev@2x';
$sp-play-prev-2x-x: 240px;
$sp-play-prev-2x-y: 168px;
$sp-play-prev-2x-offset-x: -240px;
$sp-play-prev-2x-offset-y: -168px;
$sp-play-prev-2x-width: 32px;
$sp-play-prev-2x-height: 18px;
$sp-play-prev-2x-total-width: 302px;
$sp-play-prev-2x-total-height: 276px;
$sp-play-prev-2x-image: '../img/sprite@2x.png';
$sp-play-prev-2x: (240px, 168px, -240px, -168px, 32px, 18px, 302px, 276px, '../img/sprite@2x.png', 'sp-play-prev@2x', );
$sp-play-small-2x-name: 'sp-play-small@2x';
$sp-play-small-2x-x: 124px;
$sp-play-small-2x-y: 114px;
$sp-play-small-2x-offset-x: -124px;
$sp-play-small-2x-offset-y: -114px;
$sp-play-small-2x-width: 38px;
$sp-play-small-2x-height: 38px;
$sp-play-small-2x-total-width: 302px;
$sp-play-small-2x-total-height: 276px;
$sp-play-small-2x-image: '../img/sprite@2x.png';
$sp-play-small-2x: (124px, 114px, -124px, -114px, 38px, 38px, 302px, 276px, '../img/sprite@2x.png', 'sp-play-small@2x', );
$sp-play-sound-2x-name: 'sp-play-sound@2x';
$sp-play-sound-2x-x: 240px;
$sp-play-sound-2x-y: 196px;
$sp-play-sound-2x-offset-x: -240px;
$sp-play-sound-2x-offset-y: -196px;
$sp-play-sound-2x-width: 24px;
$sp-play-sound-2x-height: 20px;
$sp-play-sound-2x-total-width: 302px;
$sp-play-sound-2x-total-height: 276px;
$sp-play-sound-2x-image: '../img/sprite@2x.png';
$sp-play-sound-2x: (240px, 196px, -240px, -196px, 24px, 20px, 302px, 276px, '../img/sprite@2x.png', 'sp-play-sound@2x', );
$sp-play-2x-name: 'sp-play@2x';
$sp-play-2x-x: 0px;
$sp-play-2x-y: 0px;
$sp-play-2x-offset-x: 0px;
$sp-play-2x-offset-y: 0px;
$sp-play-2x-width: 104px;
$sp-play-2x-height: 104px;
$sp-play-2x-total-width: 302px;
$sp-play-2x-total-height: 276px;
$sp-play-2x-image: '../img/sprite@2x.png';
$sp-play-2x: (0px, 0px, 0px, 0px, 104px, 104px, 302px, 276px, '../img/sprite@2x.png', 'sp-play@2x', );
$sp-prev-2x-name: 'sp-prev@2x';
$sp-prev-2x-x: 188px;
$sp-prev-2x-y: 62px;
$sp-prev-2x-offset-x: -188px;
$sp-prev-2x-offset-y: -62px;
$sp-prev-2x-width: 30px;
$sp-prev-2x-height: 50px;
$sp-prev-2x-total-width: 302px;
$sp-prev-2x-total-height: 276px;
$sp-prev-2x-image: '../img/sprite@2x.png';
$sp-prev-2x: (188px, 62px, -188px, -62px, 30px, 50px, 302px, 276px, '../img/sprite@2x.png', 'sp-prev@2x', );
$sp-search-label-2x-name: 'sp-search-label@2x';
$sp-search-label-2x-x: 0px;
$sp-search-label-2x-y: 260px;
$sp-search-label-2x-offset-x: 0px;
$sp-search-label-2x-offset-y: -260px;
$sp-search-label-2x-width: 22px;
$sp-search-label-2x-height: 16px;
$sp-search-label-2x-total-width: 302px;
$sp-search-label-2x-total-height: 276px;
$sp-search-label-2x-image: '../img/sprite@2x.png';
$sp-search-label-2x: (0px, 260px, 0px, -260px, 22px, 16px, 302px, 276px, '../img/sprite@2x.png', 'sp-search-label@2x', );
$sp-search-2x-name: 'sp-search@2x';
$sp-search-2x-x: 154px;
$sp-search-2x-y: 74px;
$sp-search-2x-offset-x: -154px;
$sp-search-2x-offset-y: -74px;
$sp-search-2x-width: 24px;
$sp-search-2x-height: 24px;
$sp-search-2x-total-width: 302px;
$sp-search-2x-total-height: 276px;
$sp-search-2x-image: '../img/sprite@2x.png';
$sp-search-2x: (154px, 74px, -154px, -74px, 24px, 24px, 302px, 276px, '../img/sprite@2x.png', 'sp-search@2x', );
$sp-send-white-2x-name: 'sp-send-white@2x';
$sp-send-white-2x-x: 240px;
$sp-send-white-2x-y: 108px;
$sp-send-white-2x-offset-x: -240px;
$sp-send-white-2x-offset-y: -108px;
$sp-send-white-2x-width: 30px;
$sp-send-white-2x-height: 22px;
$sp-send-white-2x-total-width: 302px;
$sp-send-white-2x-total-height: 276px;
$sp-send-white-2x-image: '../img/sprite@2x.png';
$sp-send-white-2x: (240px, 108px, -240px, -108px, 30px, 22px, 302px, 276px, '../img/sprite@2x.png', 'sp-send-white@2x', );
$sp-send-2x-name: 'sp-send@2x';
$sp-send-2x-x: 240px;
$sp-send-2x-y: 0px;
$sp-send-2x-offset-x: -240px;
$sp-send-2x-offset-y: 0px;
$sp-send-2x-width: 32px;
$sp-send-2x-height: 26px;
$sp-send-2x-total-width: 302px;
$sp-send-2x-total-height: 276px;
$sp-send-2x-image: '../img/sprite@2x.png';
$sp-send-2x: (240px, 0px, -240px, 0px, 32px, 26px, 302px, 276px, '../img/sprite@2x.png', 'sp-send@2x', );
$sp-share-white-2x-name: 'sp-share-white@2x';
$sp-share-white-2x-x: 240px;
$sp-share-white-2x-y: 72px;
$sp-share-white-2x-offset-x: -240px;
$sp-share-white-2x-offset-y: -72px;
$sp-share-white-2x-width: 26px;
$sp-share-white-2x-height: 26px;
$sp-share-white-2x-total-width: 302px;
$sp-share-white-2x-total-height: 276px;
$sp-share-white-2x-image: '../img/sprite@2x.png';
$sp-share-white-2x: (240px, 72px, -240px, -72px, 26px, 26px, 302px, 276px, '../img/sprite@2x.png', 'sp-share-white@2x', );
$sp-share-2x-name: 'sp-share@2x';
$sp-share-2x-x: 174px;
$sp-share-2x-y: 182px;
$sp-share-2x-offset-x: -174px;
$sp-share-2x-offset-y: -182px;
$sp-share-2x-width: 30px;
$sp-share-2x-height: 32px;
$sp-share-2x-total-width: 302px;
$sp-share-2x-total-height: 276px;
$sp-share-2x-image: '../img/sprite@2x.png';
$sp-share-2x: (174px, 182px, -174px, -182px, 30px, 32px, 302px, 276px, '../img/sprite@2x.png', 'sp-share@2x', );
$sp-table-play-2x-name: 'sp-table-play@2x';
$sp-table-play-2x-x: 0px;
$sp-table-play-2x-y: 114px;
$sp-table-play-2x-offset-x: 0px;
$sp-table-play-2x-offset-y: -114px;
$sp-table-play-2x-width: 58px;
$sp-table-play-2x-height: 58px;
$sp-table-play-2x-total-width: 302px;
$sp-table-play-2x-total-height: 276px;
$sp-table-play-2x-image: '../img/sprite@2x.png';
$sp-table-play-2x: (0px, 114px, 0px, -114px, 58px, 58px, 302px, 276px, '../img/sprite@2x.png', 'sp-table-play@2x', );
$spritesheet-width: 151px;
$spritesheet-height: 138px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sp-add-white, $sp-add, $sp-arrow, $sp-btn-play, $sp-corner, $sp-download-white, $sp-download, $sp-i-download-big, $sp-i-keyboard-clean, $sp-i-keyboard-space, $sp-i-keyboard-white, $sp-my-playlists-color, $sp-my-playlists, $sp-next, $sp-play-next, $sp-play-play, $sp-play-prev, $sp-play-small, $sp-play-sound, $sp-play, $sp-prev, $sp-search-label, $sp-search, $sp-send-white, $sp-send, $sp-share-white, $sp-share, $sp-table-play, );
$spritesheet: (151px, 138px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 302px;
$retina-spritesheet-height: 276px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-add-white-2x, $sp-add-2x, $sp-arrow-2x, $sp-btn-play-2x, $sp-corner-2x, $sp-download-white-2x, $sp-download-2x, $sp-i-download-big-2x, $sp-i-keyboard-clean-2x, $sp-i-keyboard-space-2x, $sp-i-keyboard-white-2x, $sp-my-playlists-color-2x, $sp-my-playlists-2x, $sp-next-2x, $sp-play-next-2x, $sp-play-play-2x, $sp-play-prev-2x, $sp-play-small-2x, $sp-play-sound-2x, $sp-play-2x, $sp-prev-2x, $sp-search-label-2x, $sp-search-2x, $sp-send-white-2x, $sp-send-2x, $sp-share-white-2x, $sp-share-2x, $sp-table-play-2x, );
$retina-spritesheet: (302px, 276px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-add-white-group-name: 'sp-add-white';
$sp-add-white-group: ('sp-add-white', $sp-add-white, $sp-add-white-2x, );
$sp-add-group-name: 'sp-add';
$sp-add-group: ('sp-add', $sp-add, $sp-add-2x, );
$sp-arrow-group-name: 'sp-arrow';
$sp-arrow-group: ('sp-arrow', $sp-arrow, $sp-arrow-2x, );
$sp-btn-play-group-name: 'sp-btn-play';
$sp-btn-play-group: ('sp-btn-play', $sp-btn-play, $sp-btn-play-2x, );
$sp-corner-group-name: 'sp-corner';
$sp-corner-group: ('sp-corner', $sp-corner, $sp-corner-2x, );
$sp-download-white-group-name: 'sp-download-white';
$sp-download-white-group: ('sp-download-white', $sp-download-white, $sp-download-white-2x, );
$sp-download-group-name: 'sp-download';
$sp-download-group: ('sp-download', $sp-download, $sp-download-2x, );
$sp-i-download-big-group-name: 'sp-i-download-big';
$sp-i-download-big-group: ('sp-i-download-big', $sp-i-download-big, $sp-i-download-big-2x, );
$sp-i-keyboard-clean-group-name: 'sp-i-keyboard-clean';
$sp-i-keyboard-clean-group: ('sp-i-keyboard-clean', $sp-i-keyboard-clean, $sp-i-keyboard-clean-2x, );
$sp-i-keyboard-space-group-name: 'sp-i-keyboard-space';
$sp-i-keyboard-space-group: ('sp-i-keyboard-space', $sp-i-keyboard-space, $sp-i-keyboard-space-2x, );
$sp-i-keyboard-white-group-name: 'sp-i-keyboard-white';
$sp-i-keyboard-white-group: ('sp-i-keyboard-white', $sp-i-keyboard-white, $sp-i-keyboard-white-2x, );
$sp-my-playlists-color-group-name: 'sp-my-playlists-color';
$sp-my-playlists-color-group: ('sp-my-playlists-color', $sp-my-playlists-color, $sp-my-playlists-color-2x, );
$sp-my-playlists-group-name: 'sp-my-playlists';
$sp-my-playlists-group: ('sp-my-playlists', $sp-my-playlists, $sp-my-playlists-2x, );
$sp-next-group-name: 'sp-next';
$sp-next-group: ('sp-next', $sp-next, $sp-next-2x, );
$sp-play-next-group-name: 'sp-play-next';
$sp-play-next-group: ('sp-play-next', $sp-play-next, $sp-play-next-2x, );
$sp-play-play-group-name: 'sp-play-play';
$sp-play-play-group: ('sp-play-play', $sp-play-play, $sp-play-play-2x, );
$sp-play-prev-group-name: 'sp-play-prev';
$sp-play-prev-group: ('sp-play-prev', $sp-play-prev, $sp-play-prev-2x, );
$sp-play-small-group-name: 'sp-play-small';
$sp-play-small-group: ('sp-play-small', $sp-play-small, $sp-play-small-2x, );
$sp-play-sound-group-name: 'sp-play-sound';
$sp-play-sound-group: ('sp-play-sound', $sp-play-sound, $sp-play-sound-2x, );
$sp-play-group-name: 'sp-play';
$sp-play-group: ('sp-play', $sp-play, $sp-play-2x, );
$sp-prev-group-name: 'sp-prev';
$sp-prev-group: ('sp-prev', $sp-prev, $sp-prev-2x, );
$sp-search-label-group-name: 'sp-search-label';
$sp-search-label-group: ('sp-search-label', $sp-search-label, $sp-search-label-2x, );
$sp-search-group-name: 'sp-search';
$sp-search-group: ('sp-search', $sp-search, $sp-search-2x, );
$sp-send-white-group-name: 'sp-send-white';
$sp-send-white-group: ('sp-send-white', $sp-send-white, $sp-send-white-2x, );
$sp-send-group-name: 'sp-send';
$sp-send-group: ('sp-send', $sp-send, $sp-send-2x, );
$sp-share-white-group-name: 'sp-share-white';
$sp-share-white-group: ('sp-share-white', $sp-share-white, $sp-share-white-2x, );
$sp-share-group-name: 'sp-share';
$sp-share-group: ('sp-share', $sp-share, $sp-share-2x, );
$sp-table-play-group-name: 'sp-table-play';
$sp-table-play-group: ('sp-table-play', $sp-table-play, $sp-table-play-2x, );
$retina-groups: ($sp-add-white-group, $sp-add-group, $sp-arrow-group, $sp-btn-play-group, $sp-corner-group, $sp-download-white-group, $sp-download-group, $sp-i-download-big-group, $sp-i-keyboard-clean-group, $sp-i-keyboard-space-group, $sp-i-keyboard-white-group, $sp-my-playlists-color-group, $sp-my-playlists-group, $sp-next-group, $sp-play-next-group, $sp-play-play-group, $sp-play-prev-group, $sp-play-small-group, $sp-play-sound-group, $sp-play-group, $sp-prev-group, $sp-search-label-group, $sp-search-group, $sp-send-white-group, $sp-send-group, $sp-share-white-group, $sp-share-group, $sp-table-play-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
