// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-add-white-name: 'sp-add-white';
$sp-add-white-x: 94px;
$sp-add-white-y: 24px;
$sp-add-white-offset-x: -94px;
$sp-add-white-offset-y: -24px;
$sp-add-white-width: 16px;
$sp-add-white-height: 16px;
$sp-add-white-total-width: 129px;
$sp-add-white-total-height: 104px;
$sp-add-white-image: '../img/sprite.png';
$sp-add-white: (94px, 24px, -94px, -24px, 16px, 16px, 129px, 104px, '../img/sprite.png', 'sp-add-white', );
$sp-add-name: 'sp-add';
$sp-add-x: 57px;
$sp-add-y: 37px;
$sp-add-offset-x: -57px;
$sp-add-offset-y: -37px;
$sp-add-width: 15px;
$sp-add-height: 15px;
$sp-add-total-width: 129px;
$sp-add-total-height: 104px;
$sp-add-image: '../img/sprite.png';
$sp-add: (57px, 37px, -57px, -37px, 15px, 15px, 129px, 104px, '../img/sprite.png', 'sp-add', );
$sp-arrow-name: 'sp-arrow';
$sp-arrow-x: 118px;
$sp-arrow-y: 13px;
$sp-arrow-offset-x: -118px;
$sp-arrow-offset-y: -13px;
$sp-arrow-width: 11px;
$sp-arrow-height: 7px;
$sp-arrow-total-width: 129px;
$sp-arrow-total-height: 104px;
$sp-arrow-image: '../img/sprite.png';
$sp-arrow: (118px, 13px, -118px, -13px, 11px, 7px, 129px, 104px, '../img/sprite.png', 'sp-arrow', );
$sp-btn-play-name: 'sp-btn-play';
$sp-btn-play-x: 57px;
$sp-btn-play-y: 0px;
$sp-btn-play-offset-x: -57px;
$sp-btn-play-offset-y: 0px;
$sp-btn-play-width: 32px;
$sp-btn-play-height: 32px;
$sp-btn-play-total-width: 129px;
$sp-btn-play-total-height: 104px;
$sp-btn-play-image: '../img/sprite.png';
$sp-btn-play: (57px, 0px, -57px, 0px, 32px, 32px, 129px, 104px, '../img/sprite.png', 'sp-btn-play', );
$sp-corner-name: 'sp-corner';
$sp-corner-x: 74px;
$sp-corner-y: 57px;
$sp-corner-offset-x: -74px;
$sp-corner-offset-y: -57px;
$sp-corner-width: 10px;
$sp-corner-height: 10px;
$sp-corner-total-width: 129px;
$sp-corner-total-height: 104px;
$sp-corner-image: '../img/sprite.png';
$sp-corner: (74px, 57px, -74px, -57px, 10px, 10px, 129px, 104px, '../img/sprite.png', 'sp-corner', );
$sp-download-name: 'sp-download';
$sp-download-x: 94px;
$sp-download-y: 66px;
$sp-download-offset-x: -94px;
$sp-download-offset-y: -66px;
$sp-download-width: 15px;
$sp-download-height: 16px;
$sp-download-total-width: 129px;
$sp-download-total-height: 104px;
$sp-download-image: '../img/sprite.png';
$sp-download: (94px, 66px, -94px, -66px, 15px, 16px, 129px, 104px, '../img/sprite.png', 'sp-download', );
$sp-i-keyboard-clean-name: 'sp-i-keyboard-clean';
$sp-i-keyboard-clean-x: 21px;
$sp-i-keyboard-clean-y: 91px;
$sp-i-keyboard-clean-offset-x: -21px;
$sp-i-keyboard-clean-offset-y: -91px;
$sp-i-keyboard-clean-width: 17px;
$sp-i-keyboard-clean-height: 12px;
$sp-i-keyboard-clean-total-width: 129px;
$sp-i-keyboard-clean-total-height: 104px;
$sp-i-keyboard-clean-image: '../img/sprite.png';
$sp-i-keyboard-clean: (21px, 91px, -21px, -91px, 17px, 12px, 129px, 104px, '../img/sprite.png', 'sp-i-keyboard-clean', );
$sp-i-keyboard-space-name: 'sp-i-keyboard-space';
$sp-i-keyboard-space-x: 43px;
$sp-i-keyboard-space-y: 91px;
$sp-i-keyboard-space-offset-x: -43px;
$sp-i-keyboard-space-offset-y: -91px;
$sp-i-keyboard-space-width: 31px;
$sp-i-keyboard-space-height: 5px;
$sp-i-keyboard-space-total-width: 129px;
$sp-i-keyboard-space-total-height: 104px;
$sp-i-keyboard-space-image: '../img/sprite.png';
$sp-i-keyboard-space: (43px, 91px, -43px, -91px, 31px, 5px, 129px, 104px, '../img/sprite.png', 'sp-i-keyboard-space', );
$sp-i-keyboard-white-name: 'sp-i-keyboard-white';
$sp-i-keyboard-white-x: 74px;
$sp-i-keyboard-white-y: 72px;
$sp-i-keyboard-white-offset-x: -74px;
$sp-i-keyboard-white-offset-y: -72px;
$sp-i-keyboard-white-width: 11px;
$sp-i-keyboard-white-height: 8px;
$sp-i-keyboard-white-total-width: 129px;
$sp-i-keyboard-white-total-height: 104px;
$sp-i-keyboard-white-image: '../img/sprite.png';
$sp-i-keyboard-white: (74px, 72px, -74px, -72px, 11px, 8px, 129px, 104px, '../img/sprite.png', 'sp-i-keyboard-white', );
$sp-next-name: 'sp-next';
$sp-next-x: 34px;
$sp-next-y: 57px;
$sp-next-offset-x: -34px;
$sp-next-offset-y: -57px;
$sp-next-width: 15px;
$sp-next-height: 25px;
$sp-next-total-width: 129px;
$sp-next-total-height: 104px;
$sp-next-image: '../img/sprite.png';
$sp-next: (34px, 57px, -34px, -57px, 15px, 25px, 129px, 104px, '../img/sprite.png', 'sp-next', );
$sp-play-small-name: 'sp-play-small';
$sp-play-small-x: 94px;
$sp-play-small-y: 0px;
$sp-play-small-offset-x: -94px;
$sp-play-small-offset-y: 0px;
$sp-play-small-width: 19px;
$sp-play-small-height: 19px;
$sp-play-small-total-width: 129px;
$sp-play-small-total-height: 104px;
$sp-play-small-image: '../img/sprite.png';
$sp-play-small: (94px, 0px, -94px, 0px, 19px, 19px, 129px, 104px, '../img/sprite.png', 'sp-play-small', );
$sp-play-name: 'sp-play';
$sp-play-x: 0px;
$sp-play-y: 0px;
$sp-play-offset-x: 0px;
$sp-play-offset-y: 0px;
$sp-play-width: 52px;
$sp-play-height: 52px;
$sp-play-total-width: 129px;
$sp-play-total-height: 104px;
$sp-play-image: '../img/sprite.png';
$sp-play: (0px, 0px, 0px, 0px, 52px, 52px, 129px, 104px, '../img/sprite.png', 'sp-play', );
$sp-prev-name: 'sp-prev';
$sp-prev-x: 54px;
$sp-prev-y: 57px;
$sp-prev-offset-x: -54px;
$sp-prev-offset-y: -57px;
$sp-prev-width: 15px;
$sp-prev-height: 25px;
$sp-prev-total-width: 129px;
$sp-prev-total-height: 104px;
$sp-prev-image: '../img/sprite.png';
$sp-prev: (54px, 57px, -54px, -57px, 15px, 25px, 129px, 104px, '../img/sprite.png', 'sp-prev', );
$sp-search-label-name: 'sp-search-label';
$sp-search-label-x: 118px;
$sp-search-label-y: 0px;
$sp-search-label-offset-x: -118px;
$sp-search-label-offset-y: 0px;
$sp-search-label-width: 11px;
$sp-search-label-height: 8px;
$sp-search-label-total-width: 129px;
$sp-search-label-total-height: 104px;
$sp-search-label-image: '../img/sprite.png';
$sp-search-label: (118px, 0px, -118px, 0px, 11px, 8px, 129px, 104px, '../img/sprite.png', 'sp-search-label', );
$sp-search-name: 'sp-search';
$sp-search-x: 77px;
$sp-search-y: 37px;
$sp-search-offset-x: -77px;
$sp-search-offset-y: -37px;
$sp-search-width: 12px;
$sp-search-height: 12px;
$sp-search-total-width: 129px;
$sp-search-total-height: 104px;
$sp-search-image: '../img/sprite.png';
$sp-search: (77px, 37px, -77px, -37px, 12px, 12px, 129px, 104px, '../img/sprite.png', 'sp-search', );
$sp-send-name: 'sp-send';
$sp-send-x: 0px;
$sp-send-y: 91px;
$sp-send-offset-x: 0px;
$sp-send-offset-y: -91px;
$sp-send-width: 16px;
$sp-send-height: 13px;
$sp-send-total-width: 129px;
$sp-send-total-height: 104px;
$sp-send-image: '../img/sprite.png';
$sp-send: (0px, 91px, 0px, -91px, 16px, 13px, 129px, 104px, '../img/sprite.png', 'sp-send', );
$sp-share-name: 'sp-share';
$sp-share-x: 94px;
$sp-share-y: 45px;
$sp-share-offset-x: -94px;
$sp-share-offset-y: -45px;
$sp-share-width: 15px;
$sp-share-height: 16px;
$sp-share-total-width: 129px;
$sp-share-total-height: 104px;
$sp-share-image: '../img/sprite.png';
$sp-share: (94px, 45px, -94px, -45px, 15px, 16px, 129px, 104px, '../img/sprite.png', 'sp-share', );
$sp-table-play-name: 'sp-table-play';
$sp-table-play-x: 0px;
$sp-table-play-y: 57px;
$sp-table-play-offset-x: 0px;
$sp-table-play-offset-y: -57px;
$sp-table-play-width: 29px;
$sp-table-play-height: 29px;
$sp-table-play-total-width: 129px;
$sp-table-play-total-height: 104px;
$sp-table-play-image: '../img/sprite.png';
$sp-table-play: (0px, 57px, 0px, -57px, 29px, 29px, 129px, 104px, '../img/sprite.png', 'sp-table-play', );
$sp-add-white-2x-name: 'sp-add-white@2x';
$sp-add-white-2x-x: 188px;
$sp-add-white-2x-y: 48px;
$sp-add-white-2x-offset-x: -188px;
$sp-add-white-2x-offset-y: -48px;
$sp-add-white-2x-width: 32px;
$sp-add-white-2x-height: 32px;
$sp-add-white-2x-total-width: 258px;
$sp-add-white-2x-total-height: 208px;
$sp-add-white-2x-image: '../img/sprite@2x.png';
$sp-add-white-2x: (188px, 48px, -188px, -48px, 32px, 32px, 258px, 208px, '../img/sprite@2x.png', 'sp-add-white@2x', );
$sp-add-2x-name: 'sp-add@2x';
$sp-add-2x-x: 114px;
$sp-add-2x-y: 74px;
$sp-add-2x-offset-x: -114px;
$sp-add-2x-offset-y: -74px;
$sp-add-2x-width: 30px;
$sp-add-2x-height: 30px;
$sp-add-2x-total-width: 258px;
$sp-add-2x-total-height: 208px;
$sp-add-2x-image: '../img/sprite@2x.png';
$sp-add-2x: (114px, 74px, -114px, -74px, 30px, 30px, 258px, 208px, '../img/sprite@2x.png', 'sp-add@2x', );
$sp-arrow-2x-name: 'sp-arrow@2x';
$sp-arrow-2x-x: 236px;
$sp-arrow-2x-y: 26px;
$sp-arrow-2x-offset-x: -236px;
$sp-arrow-2x-offset-y: -26px;
$sp-arrow-2x-width: 22px;
$sp-arrow-2x-height: 14px;
$sp-arrow-2x-total-width: 258px;
$sp-arrow-2x-total-height: 208px;
$sp-arrow-2x-image: '../img/sprite@2x.png';
$sp-arrow-2x: (236px, 26px, -236px, -26px, 22px, 14px, 258px, 208px, '../img/sprite@2x.png', 'sp-arrow@2x', );
$sp-btn-play-2x-name: 'sp-btn-play@2x';
$sp-btn-play-2x-x: 114px;
$sp-btn-play-2x-y: 0px;
$sp-btn-play-2x-offset-x: -114px;
$sp-btn-play-2x-offset-y: 0px;
$sp-btn-play-2x-width: 64px;
$sp-btn-play-2x-height: 64px;
$sp-btn-play-2x-total-width: 258px;
$sp-btn-play-2x-total-height: 208px;
$sp-btn-play-2x-image: '../img/sprite@2x.png';
$sp-btn-play-2x: (114px, 0px, -114px, 0px, 64px, 64px, 258px, 208px, '../img/sprite@2x.png', 'sp-btn-play@2x', );
$sp-corner-2x-name: 'sp-corner@2x';
$sp-corner-2x-x: 148px;
$sp-corner-2x-y: 114px;
$sp-corner-2x-offset-x: -148px;
$sp-corner-2x-offset-y: -114px;
$sp-corner-2x-width: 20px;
$sp-corner-2x-height: 20px;
$sp-corner-2x-total-width: 258px;
$sp-corner-2x-total-height: 208px;
$sp-corner-2x-image: '../img/sprite@2x.png';
$sp-corner-2x: (148px, 114px, -148px, -114px, 20px, 20px, 258px, 208px, '../img/sprite@2x.png', 'sp-corner@2x', );
$sp-download-2x-name: 'sp-download@2x';
$sp-download-2x-x: 188px;
$sp-download-2x-y: 132px;
$sp-download-2x-offset-x: -188px;
$sp-download-2x-offset-y: -132px;
$sp-download-2x-width: 30px;
$sp-download-2x-height: 32px;
$sp-download-2x-total-width: 258px;
$sp-download-2x-total-height: 208px;
$sp-download-2x-image: '../img/sprite@2x.png';
$sp-download-2x: (188px, 132px, -188px, -132px, 30px, 32px, 258px, 208px, '../img/sprite@2x.png', 'sp-download@2x', );
$sp-i-keyboard-clean-2x-name: 'sp-i-keyboard-clean@2x';
$sp-i-keyboard-clean-2x-x: 42px;
$sp-i-keyboard-clean-2x-y: 182px;
$sp-i-keyboard-clean-2x-offset-x: -42px;
$sp-i-keyboard-clean-2x-offset-y: -182px;
$sp-i-keyboard-clean-2x-width: 34px;
$sp-i-keyboard-clean-2x-height: 24px;
$sp-i-keyboard-clean-2x-total-width: 258px;
$sp-i-keyboard-clean-2x-total-height: 208px;
$sp-i-keyboard-clean-2x-image: '../img/sprite@2x.png';
$sp-i-keyboard-clean-2x: (42px, 182px, -42px, -182px, 34px, 24px, 258px, 208px, '../img/sprite@2x.png', 'sp-i-keyboard-clean@2x', );
$sp-i-keyboard-space-2x-name: 'sp-i-keyboard-space@2x';
$sp-i-keyboard-space-2x-x: 86px;
$sp-i-keyboard-space-2x-y: 182px;
$sp-i-keyboard-space-2x-offset-x: -86px;
$sp-i-keyboard-space-2x-offset-y: -182px;
$sp-i-keyboard-space-2x-width: 62px;
$sp-i-keyboard-space-2x-height: 10px;
$sp-i-keyboard-space-2x-total-width: 258px;
$sp-i-keyboard-space-2x-total-height: 208px;
$sp-i-keyboard-space-2x-image: '../img/sprite@2x.png';
$sp-i-keyboard-space-2x: (86px, 182px, -86px, -182px, 62px, 10px, 258px, 208px, '../img/sprite@2x.png', 'sp-i-keyboard-space@2x', );
$sp-i-keyboard-white-2x-name: 'sp-i-keyboard-white@2x';
$sp-i-keyboard-white-2x-x: 148px;
$sp-i-keyboard-white-2x-y: 144px;
$sp-i-keyboard-white-2x-offset-x: -148px;
$sp-i-keyboard-white-2x-offset-y: -144px;
$sp-i-keyboard-white-2x-width: 22px;
$sp-i-keyboard-white-2x-height: 16px;
$sp-i-keyboard-white-2x-total-width: 258px;
$sp-i-keyboard-white-2x-total-height: 208px;
$sp-i-keyboard-white-2x-image: '../img/sprite@2x.png';
$sp-i-keyboard-white-2x: (148px, 144px, -148px, -144px, 22px, 16px, 258px, 208px, '../img/sprite@2x.png', 'sp-i-keyboard-white@2x', );
$sp-next-2x-name: 'sp-next@2x';
$sp-next-2x-x: 68px;
$sp-next-2x-y: 114px;
$sp-next-2x-offset-x: -68px;
$sp-next-2x-offset-y: -114px;
$sp-next-2x-width: 30px;
$sp-next-2x-height: 50px;
$sp-next-2x-total-width: 258px;
$sp-next-2x-total-height: 208px;
$sp-next-2x-image: '../img/sprite@2x.png';
$sp-next-2x: (68px, 114px, -68px, -114px, 30px, 50px, 258px, 208px, '../img/sprite@2x.png', 'sp-next@2x', );
$sp-play-small-2x-name: 'sp-play-small@2x';
$sp-play-small-2x-x: 188px;
$sp-play-small-2x-y: 0px;
$sp-play-small-2x-offset-x: -188px;
$sp-play-small-2x-offset-y: 0px;
$sp-play-small-2x-width: 38px;
$sp-play-small-2x-height: 38px;
$sp-play-small-2x-total-width: 258px;
$sp-play-small-2x-total-height: 208px;
$sp-play-small-2x-image: '../img/sprite@2x.png';
$sp-play-small-2x: (188px, 0px, -188px, 0px, 38px, 38px, 258px, 208px, '../img/sprite@2x.png', 'sp-play-small@2x', );
$sp-play-2x-name: 'sp-play@2x';
$sp-play-2x-x: 0px;
$sp-play-2x-y: 0px;
$sp-play-2x-offset-x: 0px;
$sp-play-2x-offset-y: 0px;
$sp-play-2x-width: 104px;
$sp-play-2x-height: 104px;
$sp-play-2x-total-width: 258px;
$sp-play-2x-total-height: 208px;
$sp-play-2x-image: '../img/sprite@2x.png';
$sp-play-2x: (0px, 0px, 0px, 0px, 104px, 104px, 258px, 208px, '../img/sprite@2x.png', 'sp-play@2x', );
$sp-prev-2x-name: 'sp-prev@2x';
$sp-prev-2x-x: 108px;
$sp-prev-2x-y: 114px;
$sp-prev-2x-offset-x: -108px;
$sp-prev-2x-offset-y: -114px;
$sp-prev-2x-width: 30px;
$sp-prev-2x-height: 50px;
$sp-prev-2x-total-width: 258px;
$sp-prev-2x-total-height: 208px;
$sp-prev-2x-image: '../img/sprite@2x.png';
$sp-prev-2x: (108px, 114px, -108px, -114px, 30px, 50px, 258px, 208px, '../img/sprite@2x.png', 'sp-prev@2x', );
$sp-search-label-2x-name: 'sp-search-label@2x';
$sp-search-label-2x-x: 236px;
$sp-search-label-2x-y: 0px;
$sp-search-label-2x-offset-x: -236px;
$sp-search-label-2x-offset-y: 0px;
$sp-search-label-2x-width: 22px;
$sp-search-label-2x-height: 16px;
$sp-search-label-2x-total-width: 258px;
$sp-search-label-2x-total-height: 208px;
$sp-search-label-2x-image: '../img/sprite@2x.png';
$sp-search-label-2x: (236px, 0px, -236px, 0px, 22px, 16px, 258px, 208px, '../img/sprite@2x.png', 'sp-search-label@2x', );
$sp-search-2x-name: 'sp-search@2x';
$sp-search-2x-x: 154px;
$sp-search-2x-y: 74px;
$sp-search-2x-offset-x: -154px;
$sp-search-2x-offset-y: -74px;
$sp-search-2x-width: 24px;
$sp-search-2x-height: 24px;
$sp-search-2x-total-width: 258px;
$sp-search-2x-total-height: 208px;
$sp-search-2x-image: '../img/sprite@2x.png';
$sp-search-2x: (154px, 74px, -154px, -74px, 24px, 24px, 258px, 208px, '../img/sprite@2x.png', 'sp-search@2x', );
$sp-send-2x-name: 'sp-send@2x';
$sp-send-2x-x: 0px;
$sp-send-2x-y: 182px;
$sp-send-2x-offset-x: 0px;
$sp-send-2x-offset-y: -182px;
$sp-send-2x-width: 32px;
$sp-send-2x-height: 26px;
$sp-send-2x-total-width: 258px;
$sp-send-2x-total-height: 208px;
$sp-send-2x-image: '../img/sprite@2x.png';
$sp-send-2x: (0px, 182px, 0px, -182px, 32px, 26px, 258px, 208px, '../img/sprite@2x.png', 'sp-send@2x', );
$sp-share-2x-name: 'sp-share@2x';
$sp-share-2x-x: 188px;
$sp-share-2x-y: 90px;
$sp-share-2x-offset-x: -188px;
$sp-share-2x-offset-y: -90px;
$sp-share-2x-width: 30px;
$sp-share-2x-height: 32px;
$sp-share-2x-total-width: 258px;
$sp-share-2x-total-height: 208px;
$sp-share-2x-image: '../img/sprite@2x.png';
$sp-share-2x: (188px, 90px, -188px, -90px, 30px, 32px, 258px, 208px, '../img/sprite@2x.png', 'sp-share@2x', );
$sp-table-play-2x-name: 'sp-table-play@2x';
$sp-table-play-2x-x: 0px;
$sp-table-play-2x-y: 114px;
$sp-table-play-2x-offset-x: 0px;
$sp-table-play-2x-offset-y: -114px;
$sp-table-play-2x-width: 58px;
$sp-table-play-2x-height: 58px;
$sp-table-play-2x-total-width: 258px;
$sp-table-play-2x-total-height: 208px;
$sp-table-play-2x-image: '../img/sprite@2x.png';
$sp-table-play-2x: (0px, 114px, 0px, -114px, 58px, 58px, 258px, 208px, '../img/sprite@2x.png', 'sp-table-play@2x', );
$spritesheet-width: 129px;
$spritesheet-height: 104px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sp-add-white, $sp-add, $sp-arrow, $sp-btn-play, $sp-corner, $sp-download, $sp-i-keyboard-clean, $sp-i-keyboard-space, $sp-i-keyboard-white, $sp-next, $sp-play-small, $sp-play, $sp-prev, $sp-search-label, $sp-search, $sp-send, $sp-share, $sp-table-play, );
$spritesheet: (129px, 104px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 258px;
$retina-spritesheet-height: 208px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-add-white-2x, $sp-add-2x, $sp-arrow-2x, $sp-btn-play-2x, $sp-corner-2x, $sp-download-2x, $sp-i-keyboard-clean-2x, $sp-i-keyboard-space-2x, $sp-i-keyboard-white-2x, $sp-next-2x, $sp-play-small-2x, $sp-play-2x, $sp-prev-2x, $sp-search-label-2x, $sp-search-2x, $sp-send-2x, $sp-share-2x, $sp-table-play-2x, );
$retina-spritesheet: (258px, 208px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-add-white-group-name: 'sp-add-white';
$sp-add-white-group: ('sp-add-white', $sp-add-white, $sp-add-white-2x, );
$sp-add-group-name: 'sp-add';
$sp-add-group: ('sp-add', $sp-add, $sp-add-2x, );
$sp-arrow-group-name: 'sp-arrow';
$sp-arrow-group: ('sp-arrow', $sp-arrow, $sp-arrow-2x, );
$sp-btn-play-group-name: 'sp-btn-play';
$sp-btn-play-group: ('sp-btn-play', $sp-btn-play, $sp-btn-play-2x, );
$sp-corner-group-name: 'sp-corner';
$sp-corner-group: ('sp-corner', $sp-corner, $sp-corner-2x, );
$sp-download-group-name: 'sp-download';
$sp-download-group: ('sp-download', $sp-download, $sp-download-2x, );
$sp-i-keyboard-clean-group-name: 'sp-i-keyboard-clean';
$sp-i-keyboard-clean-group: ('sp-i-keyboard-clean', $sp-i-keyboard-clean, $sp-i-keyboard-clean-2x, );
$sp-i-keyboard-space-group-name: 'sp-i-keyboard-space';
$sp-i-keyboard-space-group: ('sp-i-keyboard-space', $sp-i-keyboard-space, $sp-i-keyboard-space-2x, );
$sp-i-keyboard-white-group-name: 'sp-i-keyboard-white';
$sp-i-keyboard-white-group: ('sp-i-keyboard-white', $sp-i-keyboard-white, $sp-i-keyboard-white-2x, );
$sp-next-group-name: 'sp-next';
$sp-next-group: ('sp-next', $sp-next, $sp-next-2x, );
$sp-play-small-group-name: 'sp-play-small';
$sp-play-small-group: ('sp-play-small', $sp-play-small, $sp-play-small-2x, );
$sp-play-group-name: 'sp-play';
$sp-play-group: ('sp-play', $sp-play, $sp-play-2x, );
$sp-prev-group-name: 'sp-prev';
$sp-prev-group: ('sp-prev', $sp-prev, $sp-prev-2x, );
$sp-search-label-group-name: 'sp-search-label';
$sp-search-label-group: ('sp-search-label', $sp-search-label, $sp-search-label-2x, );
$sp-search-group-name: 'sp-search';
$sp-search-group: ('sp-search', $sp-search, $sp-search-2x, );
$sp-send-group-name: 'sp-send';
$sp-send-group: ('sp-send', $sp-send, $sp-send-2x, );
$sp-share-group-name: 'sp-share';
$sp-share-group: ('sp-share', $sp-share, $sp-share-2x, );
$sp-table-play-group-name: 'sp-table-play';
$sp-table-play-group: ('sp-table-play', $sp-table-play, $sp-table-play-2x, );
$retina-groups: ($sp-add-white-group, $sp-add-group, $sp-arrow-group, $sp-btn-play-group, $sp-corner-group, $sp-download-group, $sp-i-keyboard-clean-group, $sp-i-keyboard-space-group, $sp-i-keyboard-white-group, $sp-next-group, $sp-play-small-group, $sp-play-group, $sp-prev-group, $sp-search-label-group, $sp-search-group, $sp-send-group, $sp-share-group, $sp-table-play-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
